name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"   # runs every day
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Generate snake animation
        uses: Platane/snk@v3
        with:
          github_user_name: TheekHainBhai
          outputs: |
            dist/github-contribution-grid-snake.svg

      - name: Push changes
        uses: EndBug/add-and-commit@v7
        with:
          default_author: github_actions
          message: "Generated snake animation"
          add: "dist/*"
